*, *::before, *::after {
  margin: 0;
  padding: 0;

  box-sizing: border-box;
}

.wrapper {
  width: 100%;
  min-height: 100vh;  

  padding: 40px;

  background: #000 url(../img/bg.png) repeat;

  font-family: "Geneva", Arial, Helvetica, sans-serif;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;

  margin: 0 auto;
  padding: 20px;

  width: 65vw;
  min-height: 90vh;

  background-color: #fff;
  box-shadow: 0 0 80px rgb(14, 7, 7);
}

.main-title {
  margin: 0 0 10px 0;

  font-size: 2.2rem;
  color: rgb(199, 98, 5);
}

.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}

.intro {
  margin: 0 25px 25px 25px;
}

.intro__text {
  text-indent: 2rem;
  font-size: 1.2rem;
}

.main-navigation__list {
  list-style-image: url(../img/arrow.png);
}
