:root {
  --color-orange: rgb(199, 98, 5);
  --color-main-title: rgb(102, 76, 4);
  --color-green: rgb(116, 161, 48);
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;

  box-sizing: border-box;
}

body {
  min-width: 650px;
}

.wrapper {
  width: 100%;
  min-width: 650px;
  min-height: 90vh;
  padding: 20px 0;

  background: #000 url("../img/bg.png") repeat;

  font-family: Arial, Helvetica, sans-serif;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;

  margin: 0 auto;
  padding: 20px;

  position: relative;

  min-width: 576px;
}

/* @media(max-width: 576px) {
  .container {
    padding: 0;
  }
} */

.main {
  min-height: 90vh;

  background-color: #fff;
  box-shadow: 0 0 80px rgb(14, 7, 7);
}

.main__title {
  margin: 0 0 10px 0;

  font-size: 2.2rem;
  text-align: center;
  color: var(--color-orange);
}

.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}

.intro,
.type,
.history {
  margin: 0 25px 5px 25px;

  font-size: 1.2rem;
}

@media (max-width: 767px) {
  .intro,
  .type,
  .history {
    width: 500px !important;
  }
}

@media (max-width: 576px) {
  .intro,
  .type,
  .history {
    width: 500px !important;
  }
}

.intro__text,
.type__text,
.history__text {
  text-indent: 2rem;
}

.intro__list {
  margin: 10px 100px;
}

.main-navigation {
  margin-left: 60px;
}

.main-navigation__list {
  list-style-image: url("../img/arrow.png");

  color: rgb(78, 68, 68);
}

.main-navigation__item {
  margin: 10px 0;
}

.inner-navigation__list {
  margin-left: 20px;
}

.inner-navigation__item > ul {
  margin-left: 15px;
}

.main-navigation__link,
.inner-navigation__link {
  color: inherit;
  text-decoration: none;
}

.main-navigation__link:hover,
.inner-navigation__link:hover {
  text-decoration: underline;
}

.additional-material {
  width: 100%;

  margin: 30px 0;
}

.additional-material__list {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;

  list-style: none;

  font-size: 1.2rem;
}

.additional-material__item {
  max-width: 160px;
  margin-left: 75px;
}

.additional-material__link {
  position: relative;

  color: var(--color-orange);
  text-decoration: none;
}

.additional-material__link:hover {
  text-decoration: underline;
}

.video::before,
.literature::before {
  content: "";

  position: absolute;
  top: -3px;
  left: -60px;

  width: 48px;
  height: 48px;
}

.video::before {
  background-image: url("../img/ico_video.png");
}

.literature::before {
  background-image: url("../img/ico_literature.png");
}

.main-footer {
  background-color: rgb(209, 209, 209);

  font-size: 1.1rem;
}

.info {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
}

.my-col:last-child {
  margin-left: 20px;
}

.address {
  text-align: center;
}

.types-mice__title,
.interfaces-mice__title,
.history__title,
.type__title {
  text-align: center;
}

.types-mice__title,
.interfaces-mice__title,
.history__title {
  color: var(--color-main-title);
}

.type__title {
  color: var(--color-orange);
}

.type__list {
  list-style-position: inside;
}

.type__link {
  color: inherit;
}

.inner__list {
  margin-left: 30px;
}

.type__text--green {
  color: var(--color-green);
}

.col--center {
  text-align: center;
}

dd {
  margin-left: 2rem;
}

.shell {
  display: flex;
  justify-content: center;
  align-items: center;
}

.shell > img {
  width: 30%;
}

.image {
  width: 20%;
  margin-right: 20px;
}

.big-image {
  width: 40%;
}

@media (max-width: 767px) {
  .image {
    width: 50%;
  }

  .big-image {
    width: 70%;
  }
}

.f-left {
  float: left;
}

.f-right {
  float: right;
}

@media (max-width: 767px) {
  .shell > img {
    width: 50%;
  }
}

/* @media(max-width: 568px) {
  .shell > img {
    width: 70%;
  }
} */

caption {
  text-align: center;
}

.ports {
  display: flex;
  flex-flow: row wrap;
}

iframe {
  width: 900px;
  height: 450px;
}

@media (max-width: 767px) {
  .graphic-description {
    flex-direction: column;
    align-items: center;
  }

  .graphic-interfaces__image {
    width: 90%;
  }

  iframe {
    width: 450px;
    height: 225px;
  }
}

@media(max-width: 991px) {
  iframe {
    width: 550px;
    height: 275px;
  }
}

@media (max-width: 576px) {
  .graphic-interfaces {
    width: 576px;
  }
}

.go-home {
  position: absolute;
  top: 1rem;
  left: 1rem;
}
